/* positions of elements within the page */

#p1_dice{
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row: span 3;
}

#p2_dice{
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row: span 3;
}

#p1_name{
  grid-row-start: 6;
  grid-column-start: 1;
}

#p2_name{
  grid-row-start: 6;
  grid-column-start: 4;
}

#roll_btn{
  grid-row-start:3;
  grid-column-start:2;
  grid-column-end: 4;
  align-self: start;
}

#instructions_btn{
  grid-row-start:6;
  grid-column-start:2;
  align-self: end;
}

#reset_btn{
  grid-row-start:6;
  grid-column-start:3;
  align-self: end;
}

/* container styles */

.game-grid-container{
  display:grid;
  place-self: center;
  grid-template-rows: 2fr 1fr 2fr 3fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vmin;
  min-width: 320px;
  max-width: 900px;
  height: 95vh;
}

.main-dice-container{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.player-dice-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-around;
  border: 2px solid #44001a;
  border-radius: 10px 10px;
  background-color: #E6E8EF;
}

/* text content styles */

.page-title{
  grid-column: span 4;
  align-self: center;
}

.page-subtitle{
  grid-column: span 4;
  align-self: center;
  font-size: 5vmin;
}

.player-name{
  font-size: 5vmin;
  align-self: end;
  border: 2px solid #44001a;
  border-radius: 10px 10px;
  height: fit-content;
  background-color: #E6E8EF;
}

/* image styles */

.main-dice-img{
  width: 90%;
}

.player-dice-img{
  width: 85%;
}