/* container styles */
.instructions-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* text styles */
.instructions-container__title{
	font-family: "Poppins-SemiBold";
	margin: 1vmin;
	padding: 1vmin;
	width: fit-content;
	text-transform: uppercase;
	border: 2px solid #C2C2C2;
	border-radius: 10px;
}

/* image styles */

.instructions-container__image-container{
	margin: 1vmin;
	border: 2px solid #C2C2C2;
	border-radius: 10px;
	width: fit-content;
}
.instructions-container__image{
    max-height: 75vh;
	max-width: 100%;
}

.instructions-container__back-btn{
	width: fit-content;
	margin: 1vmin;
}