/* ---------------------- SHARED ---------------------- */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

@font-face {
	font-family: "Poppins";
	src: url('../fonts/Poppins/Poppins-Regular.ttf')
	format('truetype')
}

@font-face {
	font-family: "Poppins-SemiBold";
	src: url('../fonts/Poppins/Poppins-SemiBold.ttf')
	format('truetype')
}

*{
	font-family: 'Poppins';
	font-size: 5vmin;
	color: #000000;
	white-space: nowrap;
	text-align: center;
	user-select: none;
}

/* button styles */

.btn{
	background-color: #C2C2C2;
	font-size: 3vmin;
	border-radius: 10px;
	padding: 1vmin;
}

.btn-big{
	font-family: "Poppins-SemiBold";
	background-color: #C2C2C2;
	border-radius: 10px;
	padding: 1vmin;
}

.btn-big:hover {
	background-color: #D6D6D6;
	cursor: pointer;
	transition: all 0.2s ease;
}

.btn-big-disabled{
	font-family: "Poppins-SemiBold";
	color: red;
	background-color: #D6D6D6;
	border-radius: 10px;
	padding: 1vmin;
}

.btn:hover {
	background-color: #D6D6D6;
	cursor: pointer;
	transition: all 0.2s ease;
}

/* image styles */
.img{
	width: 50%;
}

.img-big{
	width:40%;
	height: auto;
}